@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
}
.subtitle{
  display: flex;
  justify-content: space-around;
}
.subtitle-name{
  letter-spacing: 2px;
}
.name{
  text-align: center;
  letter-spacing: 1.5px;
  position: relative;
  animation: test 5s infinite;
}

@keyframes test {
  0% {left: 0px;}
  25% {left: 200px;}
  75% {left: -200px;}
  100% {left: 0px;}
}